* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* navbar */

nav {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    /* padding: 2rem 0; */
    height: 4rem;
    color: white;
    align-items: center;
}

nav .logo {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}

nav ul li a:hover {
    color: rgb(191, 219, 243);
}

/* Humburger menu */

.menu-togle {
    display: flex;
    flex-direction: column;
    height: 2rem;
    justify-content: space-between;
}


.menu-togle span {
    display: block;
    width: 2.7rem;
    height: .3rem;
    background-color: #fff;
    border-radius: .5rem;
    cursor: pointer;

}

/* Animasi Humburger menu */

.menu-togle span:first-child.ubah1{
    background-color: brown;
}
.menu-togle span:nth-child(2).ubah2{
    background-color: brown;
}
.menu-togle span:last-child.ubah3{
    background-color: brown;
}

/* Responsive  Breakpoint*/

/* Tablet */
@media screen and (max-width: 768px) {
     nav ul {
        width: 50%;

     }
}

/* Mobile */
@media screen and (max-width: 576px) {
     nav ul {
        display: none;

     }
}